<script>
  app.controller('fridgeCtrl', ['$scope', '$http', function($scope, $http) {
    $scope.freshTemp = 67;
    $scope.freezerTemp = 60;
    $scope.getTemp = function() {
      $http.get('freezer').success(function(data) {
        console.log(data);
        data = data.replace('"', '').split(' ');
        $scope.freshTemp = data[0];
        $scope.freezerTemp = data[1].replace('"', '');
      });
    };
    $scope.getTemp();
  }]);
</script>

<div class="header_image"></div>
<div ng-controller="fridgeCtrl">
  <p ng-mouseenter="getTemp()">Temperature in the fridge: {{freshTemp}}F<br/>Temperature in the freezer: {{freezerTemp}}F</p>
</div>

<div class="hero_image"></div>

<div class="flys"></div>

<div class="sparkle"></div>

<!-- <div class="wrap">
    <div class="sidea"></div>
    <div class="sideb"></div> 
</div> -->


<% if !current_user %>
    <section class="user-form">
        <h1>Sign Up!</h1>
        <%= form_for @user do |f| %>
        	<%= f.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
        	<%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
        	<%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
        	<%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
        	<%= f.password_field :password_confirmation, placeholder: 'Re-type password', class: 'form-control' %>
        	<%= f.text_field :zipcode, placeholder: 'Zipcode', class: 'form-control' %>
        	<%= f.submit "Submit", class: 'btn btn-submit' %>
        <% end %>
    </section>
<% end %>
